* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 40%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.add-button {
    width: 130px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 40px;
}

.add-button:hover {
    background: linear-gradient(to left, #ff105f, #ffad06);
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.header row {
    margin-top: 70px;
}

.btn:hover {
    background: #563434;
}

.categories {
    margin: 70px 0;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    cursor: pointer;
}

.col-4 img {
    width: 150px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
    margin: auto 3px;
    float: left;
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating span {
    color: #ff523b;
    font-weight: bold;
}

.rating h3 {
    display: inline;
    color: #333;
}

#ph-no {
    display: inline;
    color: #555;
}

.col-4:hover {
    transform: translateY(-5px);
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.col-2-user {
    flex-basis: 40%;
    min-width: 300px;
}

.form-box {
    width: 380px;
    height: 350px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.input-group {
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .5s;
    margin-left: 45px;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 20px;
}

.loginBack {
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    /* border: 5px solid #FFFF00; */
    padding: 10px;
}

.convertor{
    pointer: cursor;
}


/* Media query for menu */

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 90px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    /* margin: center; */
    text-align: center;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
}

h3 {
    color: #555;
    font-size: small;
}


/* Media query for less than 600px */

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
}