<!DOCTYPE html>
{% load static %}
{% static "images" as images %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-stream"></span><span> Library</span>
            </h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="{% url 'home' %}" class="active"><span class="las la-igloo"></span><span>Dashboard</span></a></li>
                <li><a href="{% url 'users' %}"><span class="las la-book-reader"></span><span>Users</span></a></li>
                <li><a href="{% url 'books' %}"><span class="las la-atlas"></span><span>Books</span></a></li>
                <li><a href="{% url 'rental' %}"><span class="las la-receipt"></span><span>Rent</span></a></li>
                <li><a href="{% url 'scan' %}"><span class="las la-binoculars"></span><span>Scan</span></a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label> Dashboard
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="Search" placeholder="Search here">
            </div>
            <div class="user-wrapper">
                <img src="{{images}}/user-2.png" width="40px" height="40px" alt="">
                <div>
                    <h4>{{admin.name}}</h4>
                    <small>{{admin.role}}</small>
                </div>
            </div>
        </header>

        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>{{total.totalUser}}</h1>
                        <span>Users</span>
                    </div>
                    <div>
                        <span class="las la-book-reader"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>{{total.totalBooks}}</h1>
                        <span>Books</span>
                    </div>
                    <div>
                        <span class="las la-stream"></span>
                    </div>
                </div>
            </div>
            <div class="recent-grid">
                <div class="books">
                    <div class="card">
                        <div class="card-header">
                            <h2>New Arrivals</h2>
                            <button>See All <span class="las la-arrow-right"></span></button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>Title</td>
                                            <td>Author</td>
                                        </tr>
                                    </thead>
                                    {% for book in books %}
                                    <tbody>
                                        <tr>
                                            <td>{{book.name}}</td>
                                            <td>{{book.author}}</td>
                                        </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="users">
                    <div class="card">
                        <div class="card-header">
                            <h2>New Customers</h2>
                            <button>See All <span class="las la-arrow-right"></span></button>
                        </div>
                        <div class="card-body">
                            {% for user in users %}
                            <div class="customer">
                                <div class="info">
                                    <img src="{{images}}/user-2.png" width="40px" height="40px">
                                    <div>
                                        <h4>{{user.username}}</h4>
                                        <small>{{user.id}}</small>
                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>